<section class="page-section blog-posts">
    <div class="page-title-wrapper">
        <h1 class="page-title">Edit Post</h1>
    </div>
    <form>
        <div class="create-post-form-wrapper">
            <input type="text" name="title" id="title" placeholder="Title">
            <textarea type="text" name="body" id="body" placeholder="Content" rows="10"></textarea>
            <input type="text" name="author" id="author" placeholder="Author">
            <button type="submit" class="primary-button create-post-page">Update Post</button>
        </div>
    </form>
</section>