*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: inherit;
}

h1, h2, h3 {
    font-size: 1.5rem;
    font-weight: 900;
}

:root {
    --body-background-color: 235, 235, 235;
    --content-background-color: 245, 245, 245;
    --shadow-color: 100, 100, 100;
    --underline-color: 115, 115, 115, 0.3;
}

body {
    background: rgba(var(--body-background-color));
}

.main-page-content {
    max-width: 750px;
    margin: 3rem auto;
    background: rgba(var(--content-background-color));
    padding: 2.5rem;
    box-shadow: 0 5px 10px 5px rgba(var(--shadow-color), 0.1);
}

.page-title {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page-title-wrapper {
    position: relative;
}

.page-title-wrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: black;
    bottom: 0;
    left: 0;
}

.page-subtitle {
    font-size: 1.5rem;
    font-weight: 900;
}

.page-text {
    font-size: 1.25rem;
}

.page-text:not(:last-of-type),
.page-content-wrapper:not(:last-of-type) {
    margin-bottom: 1rem;
}

.primary-button {
    border: 1px solid transparent;
    text-decoration: none;
    color: white;
    background: rgb(42, 140, 226);
    padding: 0.5rem 2rem;
    display: block;
    width: max-content;
    transition: background 0.2s ease-in-out;
    margin: 0.1rem;
    cursor: pointer;
}

.primary-button:hover {
    background: rgb(42, 120, 200);
    border: 1px solid;
}

.primary-button.home-page {
    margin: 1rem auto 0 auto;
}

.cta-button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: white;
    background: rgb(38, 177, 38);
    border: 1px solid transparent;
    text-decoration: none;
    /* display: block; */
    transition: background 0.2s ease-in-out;
    cursor: pointer;
    
}

.cta-button:hover {
    background: rgb(38, 150, 20);
    border: 1px solid;
}

.delete-button {
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    color: white;
    background: rgb(191, 44, 44);
    border: 1px solid transparent;
    text-decoration: none;
    display: block;
    transition: background 0.2s ease-in-out;
    cursor: pointer;
}

.delete-button:hover {
    border: 1px solid;
    background: rgb(175, 20, 20);
}

.blog-button {
    padding: 0.5rem 0.5rem;
    height: max-content;
}

.post-button-wrapper {
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.post-author,
.post-date {
    color: grey;
    font-size: 0.9rem;
}

.post-body {
    margin: 0.75rem 0;
}

.post-date,
.post-tag {
    display: block;
    margin-bottom: 0.75rem;
}

.post-tag {
    font-weight: 900;
    font-size: 1.25rem;
}

.blog-post-container {
    margin: 1rem 0;
}

.blog-post-container:not(:last-of-type) {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(var(--underline-color));
}

.create-post-form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.create-post-form-wrapper textarea {
    resize: none;
}

.create-post-form-wrapper input,
.create-post-form-wrapper textarea {
    padding: 0.25rem;
    font-size: 1.25rem;
}

nav.home-page {
    width: 150px;
    position: fixed;
    left: 0;
    top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: white;
    padding: 0.5rem;
    box-shadow: 0 5px 10px 5px rgba(var(--shadow-color), 0.1);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.nav-button {
    color: blue;
    text-decoration: none;
}

.nav-button:hover {
    text-decoration: underline;
}